@using FileMe.Models
@model HomeModel
@{
    ViewBag.Title = Model.Title;
}

@using (Html.BeginForm())
{
    <section class="settings">
        <div class="settings__block">
            <h2 class="settings__title">@Html.DisplayNameFor(m => m.Title)</h2>

            <div class="settings__for-input">
                <input placeholder="@Model.Title" name="inputTitle" class="settings__input" />
                <button type="submit" class="settings__edit"></button>
            </div>
            <div class="d-none">
                @Model.Time.ToShortTimeString()
            </div>
        </div>
    </section>
}


