@using FileMe.DAL.Filters
@model FileMe.Models.FolderListModel
@{
    ViewBag.Title = Model.CurrentFolder != null ?
        Model.CurrentFolder.Name :
        "Хранилище документов";
    var parentId = Model.CurrentFolder != null ? Model.CurrentFolder.Id : (long?)null;
}

<h2>Список файлов и папок</h2>

<div>
    <div>
        @Html.ActionLink("Создать папку", "Create", new { parent = parentId })
    </div>
    <div>
        @Html.ActionLink("Создать файл", "Create", "Dct", new { parent = parentId }, new { @class = "create-dct" } )
    </div>
</div>

@Html.Partial("Filter", new FolderFilter())

<div style="height:20px;"></div>

@Html.Partial("Grid", Model.Items, new ViewDataDictionary {
    { "Parent", Model.Parent },
    { "IsRootFolder", Model.IsRootFolder },
    { "CurrentFolderId", Model.CurrentFolder != null ? Model.CurrentFolder.Id : (long?)null }
})