@using FileMe.DAL.Filters
@model FileMe.Models.FolderListModel
@{
    ViewBag.Title = Model.CurrentFolder != null ?
        Model.CurrentFolder.Name :
        "Хранилище документов";
    var parentId = Model.CurrentFolder != null ? Model.CurrentFolder.Id : (long?)null;
}

<p>
    @Html.ActionLink("Добавить", "Create", new { parent = parentId })
</p>

<div style="height:20px;"></div>

@Html.Partial("Grid", Model.Items, new ViewDataDictionary {
    { "Parent", Model.Parent },
    { "IsRootFolder", Model.IsRootFolder },
})