@using FileMe.DAL.Filters
@model FileMe.Models.PersonListModel
@{
    ViewBag.Title = "Список пользователей";
    ViewBag.Page = Model.CurrentPage;
}

<h2>Список пользователей</h2>

<p>
    @Html.ActionLink("Добавить", "Create")
</p>

@Html.Partial("Filter", new PersonFilter())

<div style="height:20px;"></div>

<table class="table"></table>
@Html.Partial("Grid", Model.Items)
